@import "variables";

footer {
    position: relative;
    .logo_bg {
        position: absolute;
        right: 14%;
        top: 60px;
        width: 630px;
    }
    .section_1 {
        background-color: $dc_blue;
        padding-top: $padding_50;
        padding-bottom: $padding_50;
        ul {
            justify-content: space-around;
            a {
                color: white;
                text-decoration: none;
                align-items: center;
                h3 {
                    font-size: $text_14;
                    font-family: $dc_normal;
                    font-weight: 500;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    padding-right: 20px;
                }
            }
        }
    }
    .section_2 {
        background-image: url(./assets/footer-bg.jpg);
        background-size: cover;
        padding-top: $padding_50;
        padding-bottom: $padding_60;

        h3 {
            color: $white;
            font-family: $dc_narrow;
            padding-top: $padding_60 / 3;
            padding-bottom: $padding_60 / 3;
        }
        a {
            text-decoration: none;
            color: $dc_grey;
            font-size: 12px;
            font-family: $dc_normal;
            line-height: 22px;
        }
        .col_4 {
            position: relative;
            flex-grow: 1;
            img {
                position: absolute;
                right: 0;
                bottom: 100;
            }
        }
    }

    .section_3 {
        background-color: $footer_bg;
    }
}
