@import "variables";

header {
    background-color: $white;
    padding-top: $padding_60 / 6;
    padding-bottom: $padding_60 / 6;
    .container {
        align-items: center;
        img {
            width: 80px;
        }
        nav{
            flex-grow: 1;
            ul {
                justify-content: end;
                list-style: none;
                font-family: $dc_narrow;
                font-weight: 800;
                a {
                    font-size: $text_14;
                    text-decoration: none;
                    color: $nav_text;
                    padding: 15px
                }
            }
        }
    }
}