$dc_blue: #0082F9;
$main_bg: #1C1C1C;
$footer_bg: #303030;
$dc_grey: #797979;
$dc_dark_grey:#65665F;
$white: #FFFFFF;
$nav_text:#6D536E;

$dc_narrow: Arial Narrow, sans-serif;
$dc_normal: Arial, sans-serif;
$text_16: 16px;
$text_14: 14px;


$padding_60: 60px;
$padding_50: 50px;

